*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  display: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

title {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 10rem;
  background-color: #1c2431;
}
