.carousel {
  background-color: $color-dark-blue-2;
  position: relative;
  padding: 6rem;
  padding-bottom: 20rem;

  &__img {
    position: absolute;
    left: 8.2rem;
    top: 5.8rem;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    position: relative;

    &--section {
      margin: 3rem;
      background-color: $color-dark-blue-4;
      border: 1px solid $color-dark-blue-1;
      padding: 4rem 3.5rem 3rem;
    }

    &--user {
      display: flex;
      padding-top: 3rem;
      align-items: center;
    }

    &--details {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
    }

    &--img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    &--profile-description {
      font-size: 0.9rem;
      padding-top: 0.3rem;
      font-weight: lighter;
    }
  }
}
