.cta {
  margin: 8rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  border: 1px solid $color-dark-blue-3;
  border-color: $color-dark-blue-4;
  border-radius: 1rem;

  &__text--primary {
    font-size: 4rem;
  }

  &__text--secondary {
  }
}
