.cta {
  position: absolute;
  top: 270rem;
  left: 28rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  border: 1px solid $color-dark-blue-1;
  border-radius: 1rem;
  background-color: $color-dark-blue-1;

  &__text--primary {
    font-size: 3.5rem;
    padding: 2rem;
  }

  &__text--secondary {
    margin: 1rem 6rem;
    text-align: center;
  }

  &__action {
    display: flex;
    padding: 2rem 0 4rem;
    align-items: center;
    justify-content: center;
  }

  &__email {
    width: 40rem;
    height: 4rem;
    border-radius: 3rem;
    border: none;
    padding-left: 1rem;

    &--error {
      padding: 1rem;
    }
  }

  &__email:focus,
  &__email::placeholder {
    padding: 2rem;
  }

  .hidden {
    display: none;
  }

  &__btn--started {
    width: 18rem;
    height: 4rem;
    margin-left: 3rem;
    padding-top: 0.5rem;
    color: $color-white;
    background-image: linear-gradient(
      to left,
      $color-gradient-blue,
      $color-gradient-cyan
    );
    border-radius: 5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
  }

  &__btn--started:hover {
    background: rgb(151, 200, 214);
  }
}
