.footer {
  padding: 20rem 10rem 1rem;
  background-color: $color-dark-blue-3;

  &__connect {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 0;

    &--location {
      display: flex;
      align-items: flex-start;
      width: 30%;
      line-height: 1.5;
      padding-top: 0.5rem;

      &-icon {
        padding: 0.5rem 2rem 0 0;
      }
    }

    &--contact {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &-no,
      &-mail {
        margin: 1rem;
        display: flex;
        align-items: center;
        text-align: center;
      }

      &-icon {
        padding-right: 3rem;
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      list-style: none;
      margin: 0 3rem;

      &-li-1 {
        margin: 1rem;
      }
      &-li-2 {
        margin: 1rem;
        margin-left: 14rem;
        position: relative;
        bottom: 15.5rem;
      }
    }

    &--social {
      display: flex;

      &-icons {
        margin: 1rem 0.5rem;
        padding: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid $color-white;
        border-radius: 5rem;
        color: $color-white;
      }

      &-icons:hover {
        fill: $color-gradient-cyan;
        border-color: $color-gradient-cyan;
      }
    }
  }
}
