.grid {
  display: grid;
  grid-gap: 6rem;
  grid-template-rows: repeat(2, 28rem);
  grid-template-columns: repeat(2, 35rem);
  justify-content: center;
  padding-top: 10rem;
  background-color: $color-dark-blue-2;

  &__content--img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__content-access-icon {
    padding-top: 1rem;
  }

  &__content-file-icon {
    padding-top: 0.7rem;
  }

  &__content--text {
    padding: 1rem 0.4rem;
  }

  &__content-text-primary {
    text-align: center;
    margin: 1rem;
  }

  &__content-text-secondary {
    text-align: center;
    line-height: 1.5;
    width: 100%;
  }
}
