.story {
  display: flex;
  padding: 5rem;
  background-color: $color-dark-blue-2;

  &__text {
    background-color: $color-dark-blue-2;
    margin: 13rem 8rem 8rem;
    text-align: left;
    font-family: $font-primary;
    line-height: 1.5;
    &--primary {
      font-size: 4.5rem;
      font-weight: 600;
    }

    &--secondary {
      margin: 3rem auto;
    }
  }

  a {
    color: $color-gradient-cyan;
    padding-bottom: 0.5rem;
    text-decoration: none;
    border-bottom: 1px solid $color-gradient-cyan;
    text-align: left;
  }

  a:active,
  a:hover {
    color: $color-white;
    border-bottom: 1px solid $color-white;
  }
}
