.header-primary--main {
  padding: 5rem 0 2rem;
  width: 40%;
}

.header-primary--sub {
  padding: 1rem 6rem;
  font-weight: 400;
  width: 40%;
}

.btn--get {
  margin-top: 2rem;
  padding: 1rem 5rem;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(
    to right,
    $color-gradient-cyan,
    $color-gradient-blue
  );
  border-radius: 5rem;
  text-decoration: none;
  transition: all 0.2s;
  &:active {
    background-image: linear-gradient(
      to center,
      $color-white,
      $color-gradient-cyan,
      $color-gradient-blue
    );
    box-shadow: 0 0.5rem 1rem rgba(#fff, 0.15);
  }
}
